<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ profile.user.username }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <header>
        <h1>ICampi</h1>
        <nav>
            <div class="search-container">
                <form method="get" action=".">
                    <input type="text" name="q" value="{{ query }}" placeholder="Pesquisar usuários">
                    <button type="submit" style="background: none; border: none; cursor: pointer;"><i
                            class="fas fa-search "></i></button>
                    <a href="{% url 'profile' %}" class="clear-search-btn">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </a>
                </form>
            </div>
            <a href="{% url 'home' %}">Home</a>
            <form class="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </nav>
    </header>

    <div class="header-image">
        {% if profile.profile_background_image %}
        <img src="{{ profile.profile_background_image.url }}" alt="Foto de fundo">
        {% else %}
        <img src="/static/images/Imagem_Fundo_Perfil.jpeg" alt="Foto de fundo padrão">
        {% endif %}

        <form action="{% url 'edit_background' %}" method="POST" enctype="multipart/form-data"
            id="edit-background-form">
            {% csrf_token %}
            <input type="file" name="profile_background_image" accept="image/*" id="file-upload-background">
            <label for="file-upload-background" class="edit-icon-background">✎</label>
        </form>
    </div>

    <div class="container">
        <div class="profile-wrapper">
            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" alt="Foto de perfil" class="avatar">
            {% else %}
            <img src="/static/images/Avatar_Padrão.jpeg" alt="Foto de perfil padrão" class="avatar">
            {% endif %}

            <form action="{% url 'edit_avatar' %}" method="POST" enctype="multipart/form-data" id="edit-avatar-form">
                {% csrf_token %}
                <input type="file" name="profile_image" accept="image/*" id="file-upload-avatar">
                <label for="file-upload-avatar" class="edit-icon-avatar">✎</label>
            </form>

            <div class="profile-container">
                <div class="username-container">
                    <h2 class="username">{{ profile.user.username }}</h2>
                    <a href="{% url 'edit_profile' %}" class="edit-profile-btn">✎</a>
                </div>
                <br>
                <p class="contact-number">{{ profile.contact_number}}</p>
       
                <div class="user-summary">
                    <p>{{ profile.summary|default:"Este usuário ainda não escreveu um sumário." }}</p>
                </div>
                <div class="hard-skills-section">
                    <button id="toggle-skills-btn">Mostrar Skills</button>
                    <div id="skillsModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2>Skills de {{ profile.user.username }}</h2>
                            <div id="hard-skills">
                                {% if profile.hard_skills %}
                                <ul>
                                    {% for skill in profile.hard_skills.all %}
                                    <li>{{ skill.name }}</li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p>Este usuário ainda não adicionou suas hard skills.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="carousel-container">
            <button class="carousel-btn prev-btn">&#9664;</button>
            <div class="carousel-track-container">
                <ul class="carousel-track">
                    {% if teacher_projects %}
                    {% for project in teacher_projects %}
                    <li class="carousel-slide">
                        <div class="project-card-teacher">
                            <h2 class="project-title">{{ project.title }}</h2>
                            <div class="project-image">
                                {% if project.image %}
                                <img src="{{ project.image.url }}" alt="{{ project.title }}"
                                    style="height: 160px; object-fit: cover;">
                                {% else %}
                                <img src="/static/images/Avatar_Padrão.jpeg" alt="Imagem do Projeto Padrão"
                                    style="height: 160px; object-fit: cover; margin-top: 30px;">
                                {% endif %}
                            </div>
                            {% if project.students.all %}
                            <div id="alunosCarousel{{ project.id }}" class="carousel_slide" data-bs-ride="carousel">
                                <div class="student-info">
                                    {% for student in project.students.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="student-info-container">
                                            {% if student.profile_image %}
                                            <img src="{{ student.profile_image.url }}"
                                                alt="Foto de {{ student.user.username }}" class="avatar_aluno">
                                            {% else %}
                                            <img src="/static/images/Avatar_Padrão.jpeg" alt="Foto de perfil padrão"
                                                class="avatar_aluno">
                                            {% endif %}
                                            <h4 class="mt-2">{{ student.user.username }}</h4>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                            <p>Nenhum aluno cadastrado.</p>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                    {% elif student_projects %}
                    {% for project in student_projects %}
                    <li class="carousel-slide">
                        <div class="project-card-student">
                            <h2 class="project-title">{{ project.title }}</h2>
                            <div class="project-image">
                                {% if project.image %}
                                <img src="{{ project.image.url }}" alt="{{ project.title }}"
                                    style="height: 160px; object-fit: cover;">
                                {% else %}
                                <img src="/static/images/Avatar_Padrão.jpeg" alt="Imagem do Projeto Padrão"
                                    style="height: 160px; object-fit: cover; margin-top: 30px;">
                                {% endif %}
                            </div>
                            <form action="{% url 'unsubscribe_from_project' project.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="view-btn">Desinscrever</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <button class="carousel-btn next-btn">&#9654;</button>
        </div>

        <div class="container2">
            <div class="contacts-container">
                {% if users %}
                {% for user in users %}
                <div class="contact">
                    {% if user.profile.profile_image %}
                    <img src="{{ user.profile.profile_image.url }}" alt="Foto de {{ user.username }}"
                        class="contact-avatar">
                    {% else %}
                    <img src="/static/images/Avatar_Padrão.jpeg" alt="Foto de {{ user.username }}"
                        class="contact-avatar">
                    {% endif %}
                    <span><a href="{% url 'chat_with_user' user.username %}">{{ user.username }}</a></span>
                    <a href="{% url 'profile' user.username %}">Ver Perfil</a>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                <p>Nenhum usuário encontrado.</p>
                {% endif %}
            </div>
        </div>

    </div>

    <script>

        // Abrir o modal
        const toggleButton = document.getElementById('toggle-skills-btn');
        const modal = document.getElementById('skillsModal');
        const closeButton = document.querySelector('.close');

        toggleButton.addEventListener('click', () => {
            modal.style.display = 'block';
        });

        // Fechar o modal
        closeButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        // Fechar o modal clicando fora dele
        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });

        document.getElementById('file-upload-background').addEventListener('change', function () {
            var form = document.getElementById('edit-background-form');
            if (this.files.length > 0) {
                form.submit();
            }
        });

        document.getElementById('file-upload-avatar').addEventListener('change', function () {
            var form = document.getElementById('edit-avatar-form');
            if (this.files.length > 0) {
                form.submit();
            }
        });
        const track = document.querySelector('.carousel-track');
        const slides = Array.from(track.children);
        const nextButton = document.querySelector('.next-btn');
        const prevButton = document.querySelector('.prev-btn');
        const slideWidth = slides[0].getBoundingClientRect().width;

        slides.forEach((slide, index) => {
            slide.style.left = slideWidth * index + 'px';
        });

        let currentSlideIndex = 0;

        nextButton.addEventListener('click', () => {
            if (currentSlideIndex < slides.length - 1) {
                currentSlideIndex++;
                track.style.transform = `translateX(-${slideWidth * currentSlideIndex}px)`;
            }
        });

        prevButton.addEventListener('click', () => {
            if (currentSlideIndex > 0) {
                currentSlideIndex--;
                track.style.transform = `translateX(-${slideWidth * currentSlideIndex}px)`;
            }
        });
    </script>
</body>

</html>