<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
<h2>Perfil de {{ profile.user.username }}</h2>
<p>Bio: {{ profile.summary }}</p>
<p>Localização: {{ profile.location }}</p>
<p>Data de nascimento: {{ profile.birth_date }}</p>
{% if profile.profile_image %}
    <img src="{{ profile.profile_image.url }}" alt="Foto de perfil">
{% endif %}
<a href=" ">Editar perfil</a>
{% endblock %}

</body>
</html>
